<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 

  <div class="field">
    <%= f.label :que %><br />
    <%= f.text_field :que %>
  </div>

    <div class="field">
    <%= f.label :type %><br />
    <%= f.select :question_type, options_for_select([['Multiple Choice','radio'],['Text Field','text'],['Drop Down','select']]) , :id => "question_type"%>
  </div>


  <%= f.hidden_field :surveydetail_id, :value => @surveydetail.id%>

<span id="fooBar"> 
<div id="survey" >
</div>

</span> 
 <input type="button" id="opt" value="Add Options"  onclick=addopt()>
 <br/>
    <div class="actions">
    <br/>
    <%= f.submit :value => "Submit" %>
  </div>
<% end %>


